{% include 'header.html' %}
{% include 'navbar.html' %}


<body class="register-body">
    <section id="register-column">
        <h1 class="heading">Start your Bucket List Journey Here</h1>
        <h3 class="heading3">Register for an account</h3>
        <div>
            <form action="{{ url_for('register') }}" method="post">
                <label></label>
                <input type="text" class="form-control" placeholder="Username" name="name" required="required">
                <label></label>
                <input type="email" class="form-control" placeholder="Email" name="email" required="required">
                <label></label>
                <input type="password" class="form-control" placeholder="Password" name="password" required="required"></br>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" required="required">
                    <label class="form-check-label form-check">All Information is correct</label>
                </div>
                <div class="register-button-div"><button class="btn btn-secondary btn-lg register-button">Submit</button></div>
            </form>
        </div>
    </section>
</body>